/*
 * @Author: liuhaosheng 
 * @Date: 2019-03-12 13:23:49 
 * @Last Modified by: liuhaosheng
 * @Last Modified time: 2019-03-13 10:01:13
 * @Last Modified by: chengshanshan
 * @Last Modified time: 2019-04-02 17:30:04
 * 系统常用变量
 */

 @charset "UTF-8";

 //字体颜色
 
 $font-color-h1:#353B44;//一级导航标题色
 $font-color-h2:#343A43;//二级导航标题色
 $font-color-content:#232424;//内容
 


 //背景边框颜色
 $color-theme:#40C785;//主色
 $color-border:#EAECF0;//边框色
 $color-bg-gray:#EFF3F6;//背景灰1
 $color-bg-gray-light:#F9FBFA;//背景灰2
 $color-input:#E8E8E8;//输入框
 $color-theme-btn:#50768F;//主按钮色
 $color-bg-tabs:#F6F9FC;//二级导航BG
 $color-border-case:rgba(163, 171, 180,.6);
 $color-case-bg:rgba(163, 171, 180, .4);

 
 $bg-color1:#EFF3F6;  // 背景1
 $aid-font: #C9D4DD;  // 辅助文字颜色
